thnetvision/thnetvision/bin/Debug/card/*
thnetvision/thnetvision/bin/card/*
thnetvision/*.png
thnetvision/thnetvision/bin/Debug/*.png
thnetvision/thnetvision/bin/Debug/*.exe
thnetvision/thnetvision/bin/Release/*.exe
thnetvision/thnetvision/obj/*
